{% extends 'base/layout.html' %}

{% block title %}Formulário{% endblock %}

{% block content %}
<style>
    label input{
        float: right;
    }
    label select{
        float: right; width: 193px; height: 26px;
    }
</style>
<div class="content">
    <h3>Formulário</h3>
    <form action="/registro/cadastroPost" method="post" class="col-md-12" id="formulario1">
        {% csrf_token %}
        <label class="col-md-6">
            Nome: <input name="nome" required>
        </label>
        <label class="col-md-6">
            Sobrenome: <input name="sobrenome" required>
        </label>

        <label class="col-md-6">
            CPF: <input name="cpf" id="cpf" required data-mask="000.000.000-00">
        </label>
        <label class="col-md-6">
            RG: <input name="rg" required>
        </label>
        <label class="col-md-6">
            Nascimento: <input type="text" name="nascimento" class="datepicker" required>
            <!-- <input type="date"> Não utilizar input type date pois não é suportado pelo Firefox -->
        </label>
        <label class="col-md-6">
            Sexo: <select name="sexo" required>
            <option value=""></option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Indefinido">Indefinido</option>
        </select>
        </label>
                <label class="col-md-6">
            Telefone: <input name="telefone" required data-mask="(00) 00000-0000">
        </label>
                <label class="col-md-6">
            Celular: <input name="celular" required data-mask="(00) 00000-0000">
        </label>
        <div class="clearfix"></div>
        <h4>Endereço:</h4>
        <label class="col-md-6">
            CEP: <input id="cep" class="endereco" name="cep" type="text" data-mask="00.000-000" minlength="10" required>
        </label>
        <label class="col-md-6">
            Rua: <input class="endereco" id="rua" name="rua" required disabled>
        </label>
        <label class="col-md-6">
            Número: <input class="endereco" id="numero" name="numero" required disabled>
        </label>
        <label class="col-md-6">
            Complemento: <input class="endereco" id="complemento" name="complemento" disabled>
        </label>
        <label class="col-md-6">
            Bairro: <input class="endereco" id="bairro" name="bairro" required disabled>
        </label>
        <label class="col-md-6">
            Cidade: <input class="endereco" id="cidade" name="cidade" required disabled>
        </label>
                <label class="col-md-6">
            Estado: <select class="endereco" id="estado" name="estado" required disabled>
                    	<option value=""></option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espirito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                </select>
        </label>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-success">Salvar!</button>
    </form>
</div>
{% endblock %}

{% block beforeBodyEnd %}
<script type="application/javascript">
    App.FormularioController.listen();
</script>
{% endblock %}