.navbar-default .navebar > li > a{
  color: #2258b1 !important;
}

.navbar-default .navebar > li > a:hover,
.navbar-default .navebar > li > a:focus{
  color: #f80044 !important;
}

#myNavbar{
  margin-top: 8px;
  background-color: inherit;
}

@media (max-width: 768px) {
  #myNavbar{
    margin-top: 0px;
  }
  #logo-site{
    margin-left: 10px;
  }
}

@media (max-width: 980px) {
  #myNavbar{
    margin-top: 0px;
  }
  #logo-site{
    margin-left: 10px;
  }
  #myCarousel{
    margin-top: 53px;
  }
}

@media (max-width: 360px) {
  #logo-site{
    height: 65px;
  }
  .menu-topo{
    height: 70px;
  }
}
