.espaco {
    padding-top: 5%;
}
#alcance_01 {
  background-image: url("/images/site/medicao/alcance/1.png");
    background-repeat: no-repeat;
  width: 270px;
  height: 55px;
}
#alcance_02 {
  background-image: url("/images/site/medicao/alcance/2.png");
    background-repeat: no-repeat;
  width: 270px;
  height: 55px;
}
#alcance_03 {
  background-image: url("/images/site/medicao/alcance/3.png");
    background-repeat: no-repeat;
  width: 270px;
  height: 55px;
}
#alcance_04 {
  background-image: url("/images/site/medicao/alcance/4.png");
    background-repeat: no-repeat;
  width: 270px;
  height: 55px;
}
#alcance_05 {
  background-image: url("/images/site/medicao/alcance/5.png");
    background-repeat: no-repeat;
  width: 270px;
  height: 55px;
}
#custo_01 {
  background-image: url("/images/site/medicao/custo/1.png");
    background-repeat: no-repeat;
  width: 270px;
  height: 55px;
}
#custo_02{
  background-image: url("/images/site/medicao/custo/2.png");
    background-repeat: no-repeat;
  width: 270px;
  height: 55px;
}
#custo_03{
  background-image: url("/images/site/medicao/custo/3.png");
    background-repeat: no-repeat;
  width: 270px;
  height: 55px;
}
#custo_04{
  background-image: url("/images/site/medicao/custo/4.png");
    background-repeat: no-repeat;
  width: 270px;
  height: 55px;
}

#existencia_01{
  background-image: url("/images/site/medicao/existencia/1.png");
    background-repeat: no-repeat;
  width: 270px;
  height: 55px;
}
#existencia_02{
  background-image: url("/images/site/medicao/existencia/2.png");
    background-repeat: no-repeat;
  width: 270px;
  height: 55px;
}
#existencia_03{
  background-image: url("/images/site/medicao/existencia/3.png");
    background-repeat: no-repeat;
  width: 270px;
  height: 55px;
}
#existencia_04{
  background-image: url("/images/site/medicao/existencia/4.png");
    background-repeat: no-repeat;
  width: 270px;
  height: 55px;
}





@media screen and (min-width: 320px) and (max-width:  390px){

	.espaco {
		padding-top: 20%;
	}

	.box-image_{
		width: auto;
	}
}
/*
@media screen and (min-width: 390px) and (max-width:  470px){

	.text-initiative{
		text-align: justify;

	}

	.about-initiative2{
		text-align: justify;
	}

	.title-initiative{
		margin-top: 32%;

	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 50%;
	}

	#mapa {
	    width: 100%;
	    height: 135px;
	    margin-bottom: 13px;
	    float: right;
	    margin-right: 0px;
	    margin-top: -160px;
	}


}

@media screen and (min-width: 470px) and (max-width:  550px){

	.text-initiative{
		text-align: justify;

	}

	.about-initiative2{
		text-align: justify;
	}

	.title-initiative{
		margin-top: 32%;

	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 60%;
	}

	#mapa {
	    width: 100%;
	    height: 135px;
	    margin-bottom: 13px;
	    float: right;
	    margin-right: 0px;
	    margin-top: -160px;
	}


}

@media screen and (min-width: 550px) and (max-width:  650px){
	.title-initiative{
		margin-top: 20%;
		font-size: 25px;

	}

	.title-initiative2{
		margin-top: -5%;

		font-size: 25px;

	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
	}

	.about-initiative{
		width: 100%;
		position: relative;

	}

	.about-initiative2{
		width: 100%;
		position: relative;
		text-align: justify;
	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
		margin-top:30%;
		margin-left:-15%;
	}

	.mapa{
		margin-left:15%;
		margin-top:-4%;
	}

	.contact-initiative{
		margin-top: -20	%;
		margin-left:-15%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%;

	}

	#mapa {
	    width: 90.3%;
	    height: 25%;
	    margin-bottom: 13px;
	    margin-top: -20%;
	    margin-left:-15%;
	}

}

@media screen and (min-width: 650px) and (max-width:  767px){
	.title-initiative{
		margin-top: 20%;
		font-size: 25px;

	}

	.title-initiative2{
		margin-top: -5%;

		font-size: 25px;

	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
	}

	.about-initiative{
		width: 100%;
		position: relative;

	}

	.about-initiative2{
		width: 100%;
		position: relative;
		text-align: justify;
	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
		margin-top:30%;
		margin-left:-17%;
	}

	.mapa{
		margin-left:15%;
		margin-top:-4%;
	}

	.contact-initiative{
		margin-top: -20	%;
		margin-left:-17%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 80.3%;

	}

	#mapa {
	    width: 110.3%;
	    height: 25%;
	    margin-bottom: 13px;
	    margin-top: -20%;
	    margin-left:-15%;
	}

}

@media screen and (min-width: 768px) and (max-width:  850px) and (min-height: 950px){
	.title-initiative{
		margin-top: 15%;
		font-size: 20px;

	}

	.title-initiative2{
		margin-top: -5%;
		margin-left: 60%;
		font-size: 20px;

	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
	}

	.about-initiative{
		width: 137%;
		position: relative;

	}

	.about-initiative2{
		width: 137%;
		position: relative;
		text-align: justify;
	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
		margin-top:30%;
	}

	.mapa{
		margin-left:15%;
		margin-top:-4%;
	}

	.contact-initiative{
		margin-top: -20%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 50.3%;

	}

	#mapa {
	    width: 55%;
	    height: 20%;
	    margin-bottom: 13px;
	    margin-top: -20%;
	}

}

@media screen and (min-width: 768px) and (max-width:  850px) and (min-height: 700px) and (max-height: 949px){
	.title-initiative{
		margin-top: 15%;
		font-size: 20px;

	}

	.title-initiative2{
		margin-top: -5%;
		margin-left: 60%;
		font-size: 20px;

	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
	}

	.about-initiative{
		width: 137%;
		position: relative;

	}

	.about-initiative2{
		width: 137%;
		position: relative;
		text-align: justify;
	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
		margin-top:30%;
	}

	.mapa{
		margin-left:15%;
		margin-top:-4%;
	}

	.contact-initiative{
		margin-top: -20%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 50.3%;

	}

	#mapa {
	    width: 55%;
	    height: 24%;
	    margin-bottom: 13px;
	    margin-top: -20%;
	}

}

@media screen and (min-width: 768px) and (max-width:  850px) and (max-height: 700px){
	.title-initiative{
		margin-top: 15%;
		font-size: 20px;

	}

	.title-initiative2{
		margin-top: -5%;
		margin-left: 60%;
		font-size: 20px;

	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
	}

	.about-initiative{
		width: 137%;
		position: relative;

	}

	.about-initiative2{
		width: 137%;
		position: relative;
		text-align: justify;
	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
		margin-top:30%;
	}

	.mapa{
		margin-left:15%;
		margin-top:-4%;
	}

	.contact-initiative{
		margin-top: -20%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 50.3%;

	}

	#mapa {
	    width: 55%;
	    height: 43%;
	    margin-bottom: 13px;
	    margin-top: -20%;
	}

}

@media screen and (min-width: 851px) and (max-width:  991px) and (min-height: 1100px){
	.title-initiative{
		margin-top: 15%;
		font-size: 20px;
		margin-left: -8%;
	}

	.title-initiative2{
		margin-top: -5%;
		margin-left: 55%;
		font-size: 20px;


	}

	.filtross{
		margin-left: -17%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 140%;
		position: relative;
		margin-left: -11%;

	}

	.about-initiative2{
		width: 145.5%;
		position: relative;
		text-align: justify;
		margin-left: -23%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 60%;
	     font-size: 1px;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -200%;
	     margin-left: 60%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 55.3%

	}

	.my_img{
		margin-left: -20%;
	}

	#mapa {
	    width: 75%;
	    height: 16%;
	    margin-bottom: 13px;
	    margin-top: -161%;
	    margin-left: 30%;
	    position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
	}

}

@media screen and (min-width: 851px) and (max-width:  991px) and (min-height: 768px) and (max-height: 1100px){
	.title-initiative{
		margin-top: 15%;
		font-size: 20px;
		margin-left: -8%;
	}

	.title-initiative2{
		margin-top: -5%;
		margin-left: 55%;
		font-size: 20px;


	}

	.filtross{
		margin-left: -17%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 140%;
		position: relative;
		margin-left: -11%;

	}

	.about-initiative2{
		width: 145.5%;
		position: relative;
		text-align: justify;
		margin-left: -23%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 60%;
	     font-size: 1px;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -200%;
	     margin-left: 60%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 55.3%

	}

	.my_img{
		margin-left: -20%;
	}

	#mapa {
	    width: 75%;
	    height: 24%;
	    margin-bottom: 13px;
	    margin-top: -161%;
	    margin-left: 30%;
	}

}
@media screen and (min-width: 851px) and (max-width:  991px) and (max-height: 768px){
	.title-initiative{
		margin-top: 15%;
		font-size: 20px;
		margin-left: -8%;
	}

	.title-initiative2{
		margin-top: -5%;
		margin-left: 55%;
		font-size: 20px;


	}

	.filtross{
		margin-left: -17%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 140%;
		position: relative;
		margin-left: -11%;

	}

	.about-initiative2{
		width: 145.5%;
		position: relative;
		text-align: justify;
		margin-left: -23%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 60%;
	     font-size: 1px;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -200%;
	     margin-left: 60%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 55.3%

	}

	.my_img{
		margin-left: -20%;
	}

	#mapa {
	    width: 75%;
	    height: 37%;
	    margin-bottom: 13px;
	    margin-top: -161%;
	    margin-left: 30%;
	}

}

@media screen and (min-width: 992px) and (max-width:  1070px){
	.title-initiative{
		margin-top: 10%;
		font-size: 22px;
		margin-left: -2%;
	}

	.title-initiative2{
		margin-top: -83%;
		margin-left: 50%;
		font-size: 22px;


	}

	.filtross{
		margin-left: -4%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 112%;
		position: relative;
		margin-left: 3.5%;

	}

	.about-initiative2{
		width: 122.5%;
		position: relative;
		text-align: justify;
		margin-left: -6.5%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 48%;

	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -147%;
	     margin-left: 48%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 60%

	}

	.my_img{
		margin-left: -5%;
	}

	#mapa {
	    width: 90%;
	    height: 27.5%;
	    margin-bottom: 13px;
	    margin-top: -156%;
	    margin-left: 30%;
	}

}

@media screen and (min-width: 1070px) and (max-width: 1199px){
	.title-initiative{
		margin-top: 12%;
		font-size: 22px;
		margin-left: -6%;
	}

	.title-initiative2{
		margin-top: -83%;
		font-size: 22px;
		margin-left: 46%;


	}

	.filtross{
		margin-left: -13%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 115%;
		position: relative;
		margin-left: -6.5%;

	}

	.about-initiative2{
		width: 125%;
		position: relative;
		text-align: justify;
		margin-left: -16.5%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -145%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 60.3%

	}

	.my_img{
		margin-left: -15%;
	}

	#mapa {
	    width: 100%;
	    height: 25%;
	    margin-bottom: 13px;
	    margin-top: -158%;
	    margin-left: 26%;
	}

}

@media screen and (min-width: 1210px) and (max-width:  1361px) and (max-height: 650px){
	.title-initiative{
		margin-top: 8%;
		font-size: 25px;
		margin-left: -2%;
	}

	.title-initiative2{
		margin-top: -67%;
		font-size: 25px;
		margin-left: 45%;


	}

	.filtross{
		margin-left: -3%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 89%;
		position: relative;
		margin-left: 2%;

	}

	.about-initiative2{
		width: 80%;
		position: relative;
		text-align: justify;
		margin-left: -5.6%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -113%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%

	}

	.my_img{
		margin-left: -5%;
	}

	#mapa {
	    width: 115%;
	    height: 35%;
	    margin-bottom: 13px;
	    margin-top: -152%;
	    margin-left: 30%;
	}

}

@media screen and (min-width: 1210px) and (max-width:1361px) and (min-height:650px) and (max-height:940px){
	.title-initiative{
		margin-top: 8%;
		font-size: 25px;
		margin-left: -2%;
	}

	.title-initiative2{
		margin-top: -67%;
		font-size: 25px;
		margin-left: 45%;


	}

	.filtross{
		margin-left: -3%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 89%;
		position: relative;
		margin-left: 2%;

	}

	.about-initiative2{
		width: 80%;
		position: relative;
		text-align: justify;
		margin-left: -5.6%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -111%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%

	}

	.my_img{
		margin-left: -5%;
	}

	#mapa {
	    width: 115%;
	    height: 28%;
	    margin-bottom: 13px;
	    margin-top: -152%;
	    margin-left: 30%;
	}

}

@media screen and (min-width: 1210px) and (max-width: 1361px) and (min-height: 940px) {
	.title-initiative{
		margin-top: 8%;
		font-size: 25px;
		margin-left: -2%;
	}

	.title-initiative2{
		margin-top: -67%;
		font-size: 25px;
		margin-left: 45%;


	}

	.filtross{
		margin-left: -3%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 89%;
		position: relative;
		margin-left: 2%;

	}

	.about-initiative2{
		width: 80%;
		position: relative;
		text-align: justify;
		margin-left: -5.6%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -113%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%

	}

	.my_img{
		margin-left: -5%;
	}

	#mapa {
	    width: 115%;
	    height: 18%;
	    margin-bottom: 13px;
	    margin-top: -152%;
	    margin-left: 30%;
	}

}


@media screen and (min-width: 1362px) and (max-width: 1440px) and (min-height: 600px) and (max-height: 750px) {
	.title-initiative{
		margin-top: 8%;
		font-size: 25px;
		margin-left: -2%;
	}

	.title-initiative2{
		margin-top: -67%;
		font-size: 25px;
		margin-left: 45%;


	}

	.filtross{
		margin-left: -3%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 89%;
		position: relative;
		margin-left: 2%;

	}

	.about-initiative2{
		width: 80%;
		position: relative;
		text-align: justify;
		margin-left: -5.6%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -115%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%

	}

	.my_img{
		margin-left: -5%;
	}

	#mapa {
	    width: 115%;
	    height: 30%;
	    margin-bottom: 13px;
	    margin-top: -152%;
	    margin-left: 30%;
	}

}


@media screen and (min-width: 1362px) and (max-width: 1440px) and (min-height: 751px) and (max-height: 820px) {
	.title-initiative{
		margin-top: 8%;
		font-size: 25px;
		margin-left: -2%;
	}

	.title-initiative2{
		margin-top: -67%;
		font-size: 25px;
		margin-left: 45%;


	}

	.filtross{
		margin-left: -3%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 89%;
		position: relative;
		margin-left: 2%;

	}

	.about-initiative2{
		width: 80%;
		position: relative;
		text-align: justify;
		margin-left: -5.6%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -113.5%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%

	}

	.my_img{
		margin-left: -5%;
	}

	#mapa {
	    width: 115%;
	    height: 23%;
	    margin-bottom: 13px;
	    margin-top: -152%;
	    margin-left: 30%;
	}

}

@media screen and (min-width: 1362px) and (max-width: 1440px) and (min-height: 821px) and (max-height: 1150px)  {
	.title-initiative{
		margin-top: 8%;
		font-size: 25px;
		margin-left: -2%;
	}

	.title-initiative2{
		margin-top: -67%;
		font-size: 25px;
		margin-left: 45%;


	}

	.filtross{
		margin-left: -3%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 89%;
		position: relative;
		margin-left: 2%;

	}

	.about-initiative2{
		width: 80%;
		position: relative;
		text-align: justify;
		margin-left: -5.6%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -113.5%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%

	}

	.my_img{
		margin-left: -5%;
	}

	#mapa {
	    width: 115%;
	    height: 20%;
	    margin-bottom: 13px;
	    margin-top: -152%;
	    margin-left: 30%;
	}

}

@media screen and (min-width: 1362px) and (max-width: 1440px) and (min-height: 1151px) and (max-height: 1650px)  {
	.title-initiative{
		margin-top: 8%;
		font-size: 25px;
		margin-left: -2%;
	}

	.title-initiative2{
		margin-top: -67%;
		font-size: 25px;
		margin-left: 45%;


	}

	.filtross{
		margin-left: -3%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 89%;
		position: relative;
		margin-left: 2%;

	}

	.about-initiative2{
		width: 80%;
		position: relative;
		text-align: justify;
		margin-left: -5.6%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -113.5%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%

	}

	.my_img{
		margin-left: -5%;
	}

	#mapa {
	    width: 115%;
	    height: 14%;
	    margin-bottom: 13px;
	    margin-top: -152%;
	    margin-left: 30%;
	}

}

@media screen and (min-width: 1362px) and (max-width: 1440px) and (min-height: 1651px)  {
	.title-initiative{
		margin-top: 8%;
		font-size: 25px;
		margin-left: -2%;
	}

	.title-initiative2{
		margin-top: -67%;
		font-size: 25px;
		margin-left: 45%;


	}

	.filtross{
		margin-left: -3%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 89%;
		position: relative;
		margin-left: 2%;

	}

	.about-initiative2{
		width: 80%;
		position: relative;
		text-align: justify;
		margin-left: -5.6%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -113.5%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%

	}

	.my_img{
		margin-left: -5%;
	}

	#mapa {
	    width: 115%;
	    height: 10%;
	    margin-bottom: 13px;
	    margin-top: -152%;
	    margin-left: 30%;
	}

}


@media screen and (min-width: 1441px) and (max-width: 1900px) and (min-height: 600px) and (max-height: 750px) {
	.title-initiative{
		margin-top: 8%;
		font-size: 25px;
		margin-left: -2%;
	}

	.title-initiative2{
		margin-top: -67%;
		font-size: 25px;
		margin-left: 45%;


	}

	.filtross{
		margin-left: -3%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 89%;
		position: relative;
		margin-left: 2%;

	}

	.about-initiative2{
		width: 80%;
		position: relative;
		text-align: justify;
		margin-left: -5.6%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -115%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%

	}

	.my_img{
		margin-left: -5%;
	}

	#mapa {
	    width: 115%;
	    height: 30%;
	    margin-bottom: 13px;
	    margin-top: -152%;
	    margin-left: 30%;
	}

}


@media screen and (min-width: 1441px) and (max-width: 1900px) and (min-height: 751px) and (max-height: 820px) {
	.title-initiative{
		margin-top: 8%;
		font-size: 25px;
		margin-left: -2%;
	}

	.title-initiative2{
		margin-top: -67%;
		font-size: 25px;
		margin-left: 45%;


	}

	.filtross{
		margin-left: -3%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 89%;
		position: relative;
		margin-left: 2%;

	}

	.about-initiative2{
		width: 80%;
		position: relative;
		text-align: justify;
		margin-left: -5.6%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -113.5%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%

	}

	.my_img{
		margin-left: -5%;
	}

	#mapa {
	    width: 115%;
	    height: 23%;
	    margin-bottom: 13px;
	    margin-top: -152%;
	    margin-left: 30%;
	}

}


@media screen and (min-width: 1441px) and (max-width: 1900px) and (min-height: 821px) and (max-height: 1150px)  {
	.title-initiative{
		margin-top: 8%;
		font-size: 25px;
		margin-left: -2%;
	}

	.title-initiative2{
		margin-top: -67%;
		font-size: 25px;
		margin-left: 45%;


	}

	.filtross{
		margin-left: -3%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 89%;
		position: relative;
		margin-left: 2%;

	}

	.about-initiative2{
		width: 80%;
		position: relative;
		text-align: justify;
		margin-left: -5.6%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -113.5%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%

	}

	.my_img{
		margin-left: -5%;
	}

	#mapa {
	    width: 115%;
	    height: 20%;
	    margin-bottom: 13px;
	    margin-top: -152%;
	    margin-left: 30%;
	}

}

@media screen and (min-width: 1441px) and (max-width: 1900px) and (min-height: 1151px) and (max-height: 1650px)  {
	.title-initiative{
		margin-top: 8%;
		font-size: 25px;
		margin-left: -10%;
	}

	.title-initiative2{
		margin-top: -67%;
		font-size: 25px;
		margin-left: 45%;


	}

	.filtross{
		margin-left: -3%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 89%;
		position: relative;
		margin-left: 2%;

	}

	.about-initiative2{
		width: 80%;
		position: relative;
		text-align: justify;
		margin-left: -5.6%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -113.5%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%

	}

	.my_img{
		margin-left: -20%;
	}

	#mapa {
	    width: 115%;
	    height: 14%;
	    margin-bottom: 13px;
	    margin-top: -152%;
	    margin-left: 30%;
	}

}

@media screen and (min-width: 1441px) and (max-width: 1900px) and (min-height: 1651px)  {
	.title-initiative{
		margin-top: 8%;
		font-size: 25px;
		margin-left: -2%;
	}

	.title-initiative2{
		margin-top: -67%;
		font-size: 25px;
		margin-left: 45%;


	}

	.filtross{
		margin-left: -3%;
	}

	.text-initiative{
		text-align: justify;
		padding: 10px;
		margin-left: -11%;
	}

	.about-initiative{
		width: 89%;
		position: relative;
		margin-left: 2%;

	}

	.about-initiative2{
		width: 80%;
		position: relative;
		text-align: justify;
		margin-left: -5.6%;

	}

	.subtitle-initiative{
		margin-top:36.5%;
	}

	.map{
		border-radius: 15px;
		padding-top: 17px;
		width: 550px;
	}

	.filters-initiative{
	     margin-left: 40%;
	     font-size: 1px;
	     margin-top: 13%;
	}

	.mapa{
		margin-left:30%;
		margin-top:-2.4%;
	}

	.contact-initiative{
		 margin-top: -113.5%;
	     margin-left: 40%;
	}

	#img-initiative{
		border-radius: 5px;
	    cursor: pointer;
	    transition: 0.3s;
	    width: 70.3%

	}

	.my_img{
		margin-left: -5%;
	}

	#mapa {
	    width: 115%;
	    height: 10%;
	    margin-bottom: 13px;
	    margin-top: -152%;
	    margin-left: 30%;
	}

}





*/
